[user]
	name = Tomás Migone
	email = tomasmigone@gmail.com

[includeIf "gitdir:~/Documents/git/balena/"]
    path = ~/Documents/git/balena/.gitconfig_balena

[alias]
    br = branch
    cl = clone
    amend = commit --amend
    push-force = push --force-with-lease
    push-upstream = push --set-upstream origin
